.name-title {
    color: #2C3E50;
    font-size: 600%;
    font-family: 'Raleway Dots', cursive;
    font-weight: 500;
}

.sub-title {
    color: #2C3E50;
}

.portfolio-text {
    color: #eaeaea;
}

.portfolio-title{
    color: #eaeaea;
    font-family: 'Raleway Dots', cursive;
    font-size: 600%;
    font-weight: 400;
}